.blocklyFlyout .blocklyScrollbarHandle {
    rx: 8px !important;
    ry: 8px !important;
    fill: #666 !important;
}

.blocklyFlyout .blocklyScrollbarHandle:hover {
    fill: #333 !important;
}

/* 修改滚动条样式 */
.blocklyScrollbarHandle {
    rx: 8px !important;
    ry: 8px !important;
    fill: #CCC !important;
}

.blocklyScrollbarHandle:hover {
    fill: #BBB !important;
}

.blocklyToolbox {
    padding: 0 0 4px 0;
}

.blocklyToolboxCategory {
    margin-bottom: 0;
}

.zelos-renderer.classic-theme .blocklyText {
    fill: #000000 !important;
    font-family: 'MiSans';
    font-weight: normal;
}