.blocklyFlyoutButton {
    fill: #00000000 !important;
    cursor: pointer;
    stroke: #000000;
    stroke-width: 2px;
}

.blocklyFlyoutButton:hover {
    fill: #aaaaaa85 !important;
}

.blocklyFlyoutButtonShadow {
    display: none;
}

.blocklyText {
    stroke: none;
}